/* roboto-slab-100 - latin */
@font-face {
    font-display: swap;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 100;
    src: url('roboto-slab-v34-latin-100.woff2') format('woff2');
  }
  /* roboto-slab-200 - latin */
  @font-face {
    font-display: swap;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 200;
    src: url('roboto-slab-v34-latin-200.woff2') format('woff2');
  }
  /* roboto-slab-300 - latin */
  @font-face {
    font-display: swap;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 300;
    src: url('roboto-slab-v34-latin-300.woff2') format('woff2');
  }
  /* roboto-slab-regular - latin */
  @font-face {
    font-display: swap;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    src: url('roboto-slab-v34-latin-regular.woff2') format('woff2');
  }
  /* roboto-slab-500 - latin */
  @font-face {
    font-display: swap;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 500;
    src: url('roboto-slab-v34-latin-500.woff2') format('woff2');
  }
  /* roboto-slab-600 - latin */
  @font-face {
    font-display: swap;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 600;
    src: url('roboto-slab-v34-latin-600.woff2') format('woff2');
  }
  /* roboto-slab-700 - latin */
  @font-face {
    font-display: swap;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    src: url('roboto-slab-v34-latin-700.woff2') format('woff2');
  }
  /* roboto-slab-800 - latin */
  @font-face {
    font-display: swap;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 800;
    src: url('roboto-slab-v34-latin-800.woff2') format('woff2');
  }
  /* roboto-slab-900 - latin */
  @font-face {
    font-display: swap;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 900;
    src: url('roboto-slab-v34-latin-900.woff2') format('woff2');
  }