<f:layout name="ContentBlock" />
<f:section name="Header" />
<f:section name="Main">
    <f:variable name="contentAlignment" value="{site.settings.all.style.contentAlignment}" />
    <div class="container">
        <div class="row">
            <f:if condition="{contentAlignment} == 'center'">
                <f:then>
                    <div class="col sm-12 md-offset-2 md-8 lg-offset-3 lg-6">
                        <f:render section="Image" arguments="{_all}" />
                        <f:render section="Content" arguments="{_all}" />
                    </div>
                </f:then>
                <f:else>
                    <f:if condition="{image.0}">
                        <f:then>
                            <div class="col sm-12 md-10 md-offset-1 lg-3 lg-offset-2 xl-2 xl-offset-2">
                                <f:render section="Image" arguments="{_all}" />
                            </div>
                            <div class="col sm-12 md-offset-1 md-10 lg-offset-0 lg-6">
                                <f:render section="Content" arguments="{_all}" />
                            </div>
                        </f:then>
                        <f:else>
                            <div class="col sm-12 md-10 md-offset-1 lg-7 lg-offset-2 xl-8 xl-offset-2">
                                <f:render section="Content" arguments="{_all}" />
                            </div>
                        </f:else>
                    </f:if>
                </f:else>
            </f:if>
        </div>
    </div>

</f:section>

<f:section name="Image">
    <div class="ce-introduction-card__image text-{contentAlignment}">
        <div class="image">
            <div class="object-fit ratio--1-1">
                <f:image image="{image.0}" />
            </div>
        </div>
    </div>
</f:section>

<f:section name="Content">
    <div class="ce-introduction-card__content text-{contentAlignment}">
        <f:render partial="Content/Atoms/Headline" arguments="{
            headline: data.header,
            tag: data.header_layout
        }" />
        <f:render partial="Content/Atoms/CopyText" arguments="{
            bodytext: data.bodytext
        }" />
        <f:if condition="{data.link}">
            <f:render partial="Content/Atoms/Button" arguments="{
                label: data.link_text,
                link: data.link
            }" />
        </f:if>
    </div>
</f:section>

</html>
