<f:layout name="ContentBlock" />
<f:section name="Header" />
<f:section name="Main">

    <f:variable name="contentAlignment" value="{site.settings.all.style.contentAlignment}" />
    <div class="container">
        <div class="row">
            <f:if condition="{resume_items.0} && {additional_resume_items.0}">
                <f:then>
                    <div class="col sm-12 md-6 lg-offset-1 lg-5 xl-offset-2 xl-4">
                        <f:render section="RowContent" arguments="{
                            headline: data.header,
                            list: resume_items,
                            contentAlignment: contentAlignment
                        }" />
                    </div>
                    <div class="col sm-12 md-6 lg-5 xl-4">
                        <f:render section="RowContent" arguments="{
                            headline: data.additional_header,
                            list: additional_resume_items,
                            contentAlignment: contentAlignment
                        }" />
                    </div>
                </f:then>
                <f:else>
                    <div class="col sm-12 md-offset-1 md-10 lg-offset-2 lg-8 xl-offset-3 xl-6">
                        <f:if condition="{resume_items.0}">
                            <f:then>
                                <f:render section="RowContent" arguments="{
                                    headline: data.header,
                                    list: resume_items,
                                    contentAlignment: contentAlignment
                                }" />
                            </f:then>
                            <f:else>
                                <f:render section="RowContent" arguments="{
                                    headline: data.additional_header,
                                    list: additional_resume_items,
                                    contentAlignment: contentAlignment
                                }" />
                            </f:else>
                        </f:if>
                    </div>
                </f:else>
            </f:if>
        </div>
    </div>

</f:section>

<f:section name="RowContent">
    <f:render partial="Content/Molecules/HeadlineCopytext" arguments="{
        headline: data.header,
        headlineTag: data.header_layout,
        headlinePosition: '{f:if(condition: \'{contentAlignment} == center\', then: \'center\', else: data.header_position)}',
        subheadline: data.subheader,
        bodytext: data.bodytext
    }"/>
    <div class="ce-resume__header text-{contentAlignment}">
        <f:render partial="Content/Atoms/Headline" arguments="{
            headline: headline
        }" />
    </div>
    <div class="ce-resume__list">
        <f:render partial="Content/Molecules/DefinitionList" arguments="{
            list: list
        }" />
    </div>
</f:section>
