<f:layout name="ContentBlock" />
<f:section name="Main">

    <div class="container">
        <div class="row">
            <div class="col sm-12 md-12 xl-10 xl-offset-1">
                <div class="row ce-services__item-list justify-content-{contentAlignment}">
                    <f:for each="{services}" as="serviceItem" key="label">
                        <div class="col sm-12 md-6 lg-4">
                            <f:render partial="Content/Atoms/Card" arguments="{
                                title: serviceItem.data.name,
                                description: serviceItem.data.description,
                                showReadMore: false,
                            }" />
                        </div>
                    </f:for>
                </div>
            </div>
        </div>
    </div>

</f:section>
